.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-contaner {
  margin-top: 30px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 50px;

  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(204, 192, 192, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

button {
  width: 105%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-msg,
.success-msg {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.error-msg {
  background-color: #ffcccc;
  color: #cc0000;
}

.success-msg {
  background-color: #ccffcc;
  color: #008000;
}

/* login-responsive.css */

/* ... (previous styles) */

/* Responsive Styles */
@media (max-width: 768px) {
  .main-login {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    margin-top: 20px; /* Add some space between the image and the form on mobile */
  }

  .desktop-view {
    display: none; /* Hide the desktop image on mobile */
  }

  form {
    width: 80%;
    max-width: 300px;
  }

  /* Adjust other styles as needed for mobile layout */
}
